<div id="connect">
    <span>Connect</span>
    <ul>
        <li><a href="https://twitter.com/bsgafrica" title="BSG Africa" target="_blank">
                <i class="fa fa-twitter"></i><span>/bsgafrica</span></a></li>
        <li><a href="http://www.facebook.com/bsgafrica" title="BSG Africa" target="_blank">
                <i class="fa fa-facebook"></i><span>/bsgafrica</span></a></li>
        <li><a href="http://www.facebook.com/bsgcareers" title="BSG Africa Careers" target="_blank">
                <i class="fa fa-facebook"></i><span>/bsgcareers</span></a></li>
        <li><a href="http://www.linkedin.com/company/bsg" title="BSG Africa" target="_blank">
                <i class="fa fa-linkedin"></i><span>/bsg</span></a></li>
    </ul>
</div>
