<div class="row">
    <div class="column small-12">&nbsp;
        <footer>
            <div>
                <p class="copyright">
            <span>© Copyright 2015 <a href="http://www.bsg.co.za/" title="BSG" rel="home">
                    BSG</a>, All rights reserved</span>
            <span>
                (<a href="http://www.bsg.co.za/privacy/">Privacy</a> &dash;
                <a href="http://www.bsg.co.za/disclaimer/">Disclaimer</a>)
            </span>
                </p>
            </div>
        </footer>
    </div>
</div>
