<footer id="footer">
    <div class="connect-group">
        <p>Connect</p>
        <ul>
            <li><a href="https://twitter.com/bsgafrica" title="BSG Africa" target="_blank">
                    <i class="fa fa-twitter"></i><span>/bsgafrica</span></a></li>
            <li><a href="http://www.facebook.com/bsgafrica" title="BSG Africa" target="_blank">
                    <i class="fa fa-facebook"></i><span>/bsgafrica</span></a></li>
            <li><a href="http://www.facebook.com/bsgcareers" title="BSG Africa Careers" target="_blank">
                    <i class="fa fa-facebook"></i><span>/bsgcareers</span></a></li>
            <li><a href="http://www.linkedin.com/company/bsg" title="BSG Africa" target="_blank">
                    <i class="fa fa-linkedin"></i><span>/bsg</span></a></li>
        </ul>
    </div>
    <div class="twelvecol">
        <ul class="footer-links">
            <li><a href="http://www.bsg.co.za/privacy/">Privacy</a></li>
            <li><a href="http://www.bsg.co.za/disclaimer/">Disclaimer</a></li>

        </ul>
        <p class="copyright">© Copyright 2015 <a href="http://www.bsg.co.za/" title="BSG" rel="home">
                BSG</a>, All rights reserved</p>
    </div>
</footer>
