---
---

$white: #fefefe;
$p-black: #171717;
$p-dark-blue: #007cbb;
$p-light-blue: #20c4f4;
$s-mid-blue: #7baed4;
$main-text: #4d4d4d;

/* Base text styles */

body {
  font: 12px/18px Arial, Helvetica, sans-serif;
  color: $main-text;
  margin: 0;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $p-light-blue;
  text-decoration: none;
  outline: none;
}

/* Code blocks */

code, pre {
  font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  background: #FDFEFB;
  border: none;
}

pre {
  padding: 4px 12px;
  background: #FDFEFB;
  border-radius:4px;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 32px;
}

.highlight {
  background-color: #ffffcc;
}

.excerpt {
  margin-left: 8px;
  border-left: 1px dotted $s-mid-blue;
}

/* Header */

.heading {
  background: $p-black url({{ site.baseurl }}/images/trimming.png) repeat-x;
  color: $white;
  width: 100%;
  margin-bottom: 10px;
  img {
    padding: 20px 20px 10px 20px;
  }
  h1 {
    display: inline;
    color: $white;
  }
}

h1, h2 a {
  color: $p-dark-blue;
}

.hidden-for-small #connect {
  width: 205px;
  float: left;
  position: fixed;
  padding-left: 10px;
  bottom: 40px;
  ul {
    list-style-type: none;
  }
}

footer {
  text-align: center;
}
