---
---

/* Base text styles */

body {
  padding: 10px 50px 0 0;
  font: 12px/18px Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  background-color: #FBFAF7;
  margin: 0;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #06579d;
  text-decoration: none;
  outline: none;
}

/* Code blocks */

code, pre {
  font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* Header */

header {
  background-color: #171717;
  color: #FDFDFB;
  border: 1px solid #000;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-font-smoothing: antialiased;
  position: fixed;
}

/* Footer */

footer {
  width: 170px;
  float: left;
  position: fixed;
  bottom: 10px;
  padding-left: 50px;
}

