<!doctype html>
<html>
{% include head.html %}
<body>
{% include heading.html %}
<div class="row">
    <div class="column medium-3">
         <img src="http://www.gravatar.com/avatar/{{ page.gravatar }}?size=200&default={{ site.url | append: "/images/nooneBSG.png" | cgi_escape }}"/>
    </div>
    <div class="column medium-9">
        <div class="row">
            <h2><span>{{ page.display_name }}</span></h2>
            <hr>
            {{ content }}
        </div>
        <div class="row">
            <h3>Posts</h3>
            <hr>
            {% assign author_posts = site.posts | where:"author", page.author %}
            {% for post in author_posts do %}
                <section>
                    <h5><a href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}</a> &dash; {{ post.date | date_to_string }}
                    </h5>
                    <div class="excerpt">{{ post.excerpt }}</div>
                </section>
            {% endfor %}
        </div>
    </div>
</div>
{% include rconnect.html %}
{% include footer.html %}
</body>
</html>
