<!doctype html>
<html>
{% include head.html %}
<body>
<div class="row">
    <div class="column medium-3">
        <span>&nbsp;</span>
        <header><p><a href="{{ site.baseurl }}/">BSG Developer Blog</a></p></header>
    </div>
    <div class="columns medium-9">
        <section>
            <h1>{{ page.title }}</h1>
            {{ content }}
        </section>
    </div>
</div>
<div class="row">
    <div class="column medium-3">&nbsp;
        {% include footer.html %}
    </div>
</div>
</body>
</html>
